%h1 Listing groups

- @groups.each do |group|
  |
  = link_to group.name, group_path(:id => group.id)#, :class => "category", "data-id" => group.id

-#.i_modal_window{:style => "display: none;"}
-#  %div
-#    %p
-#    = image_tag "#", :id => "rand_pict"

.clear



